ul.keyLangValuePairs,ul.keyLangValuePairs>li {
  list-style: none;
  /*overflow: hidden;*/
}

ul.keyLangValuePairs>li>textarea {
  vertical-align: top !important;
  width: 68%;
  max-width: 68%;
  min-width: 68%;
  height: 45px;
  min-height: 45px;
  overflow-scrolling: auto;
  margin-left: 5px;
  margin-right: 5px;
}

ul.keyLangValuePairs>li>input {
  width: 69%;
}

ul.keyLangValuePairs>li>div {
  display: block;
  float: right;
  max-width: 26%;
}

a.kvLangPairDeleteButton {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

a.kvLangPairDeleteButton:before {
  content: url("../img/admin/icon_deletelink.gif")
}

a.kvLangPairDeleteButtonHidden {
  visibility: hidden;
}

.lang_name {
	color: #7CA0C7;
}
