<ul class="keyLangValuePairs{% if not blank %} pairsRequired{% endif %}">
  {% for entry in entries %}
  <li><a href="javascript:void(0)" class="kvLangPairDeleteButton">Delete Field</a>{{ entry.1 }}<div>Language of this field: {{ entry.0 }}</div></li>
  {% endfor %}
  <li><a href="javascript:void(0)" class="kvLangPairAddButton addlink">Add Another Field</a></li>
</ul>
<div style="display: none;"><a href="javascript:void(0)" class="kvLangPairDeleteButton">Delete Field</a>{{ new_entry_tpl.1 }}<div>Language of this field: {{ new_entry_tpl.0 }}</div></div>