{% extends "base.html" %}
{% load humanize %}

{% block back %}{% include "back.html" with page="frontpage" %}{% endblock %}
{% block content %}
{% spaceless %}

<div style="margin-top: -55px">
  <div>
{#    <p><img src="{{ MEDIA_URL }}/images/flags_0.jpg" style=" display: block; margin-left: auto; margin-right: auto;" usemap="#logomap" />#}
{#  <map name="logomap">#}
{#    <area shape="rect" coords="20,0,476,150" alt="European Language Resource Coordination" href="http://www.lr-coordination.eu/" target="_blank">#}
{#    <area shape="rect" coords="90,58,3" alt="Metashare" href="http://www.meta-share.eu/">#}
{#      <area shape="rect" coords="15,0,190,175" alt="European Language Resource Coordination" href="http://www.lr-coordination.eu/" target="_blank">#}
{#    <area shape="rect" coords="550,172,400,145" alt="Metashare" href="http://www.meta-share.eu/" target="_blank">#}
{#</map>#}
{#    </p>#}
{#      {% if user.get_profile.has_editor_permission %}#}
    <p style="text-align: center; color: #058dbe;font-weight: bold;">{{resources|intcomma}} language resource{{resources|pluralize}} at your disposal</p>

  </div>
  <form method="get" action="{% url metashare.views.frontpage %}repository/search/" class="form_helper">
    <div id="search">
      <div id="search_input"><input class="big_input span-14" type="text" name="q" defaultText="Type in your keywords, please..." /></div>
      <div id="search_button"><button type="submit" class="big_button button">Search</button></div>
    </div>
  </form>
</div>
{#{% endif %}#}
<div class="span-24" style="vertical-align: middle; margin-top:30px;">
<table>
  <tr>
{#    <td>#}
{#      <span class="span-7 append-1" style="vertical-align: middle;"><img src="{{ MEDIA_URL }}images/teaser02.png" /></span>#}
{#    </td>#}
    <td>
      <span class="span-15 last" style="">
        <h2>Welcome to the ELRC-SHARE repository!</h2>
        <p>The ELRC-SHARE repository is used for documenting, storing, browsing and accessing <a href="http://lr-coordination.eu/resources">Language Resources</a> that are collected through the <a href="http://lr-coordination.eu">European Language Resource Coordination</a> and considered useful for feeding the CEF.AT platform.</p>
		<p>If you want to contribute resources, all you have to do is register <a href="/accounts/create/">here</a> and go on to describe and upload your data with a simple form.
        <br/>
        <div><img src="{{ MEDIA_URL }}images/diagram.png" width="476" style="display:block; margin: 0 auto;"/></div></p>
        <p>All data resources gathered by this initiative will be provided to the European Commission for use in the CEF Automated Translation platform.</p>
      </span>
    </td>
  </tr>
</table>
</div>
{% endspaceless %}
{% endblock %}
