@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.ttf') format('ttf');
    font-weight: bold;
}


body{
	font-family: Arimo,Arial,sans-serif;
	font-weight: 200;
    /*background: #fff;*/
}

p.bold{
	font-weight: 600 !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: Arimo,Arial,sans-serif;
}

h1{
	color: 			#FF6600;
	font-size: 		65pt;
/*	font-weight: 	400;*/
  	text-shadow: 	0px -1px #CCCCCC;
  	line-height: 	20pt;
  	margin: 		20px 0px 20px 0px;
  	
}
h2{
	/*color: 			#058DBE;*/
	font-size: 		28px;
  	line-height:    150%;
  	margin: 20px 0px 20px 0px;
}

p, span{
	font-family: Arimo,Arial,sans-serif;
	font-size: 15px;
	line-height: 	1.6;
	color: 			#FF6600;
	vertical-align: middle;
}


.button{
	font-family: Arimo,Arial,sans-serif;
	font-weight: 	600;
  	/*text-shadow: 	0px -1px 1px #FF9900;*/
	color: 			white;
	font-size: 		18px;  	
}

.big_button{
	font-size: 22px;
}

input{
	font-family: Arimo,Arial,sans-serif;
	color: 			#999999;
	font-size: 		28px;
	font-weight: 	600;
}

textarea {
	font-family: Arimo,Arial,sans-serif;
	color: 			#999999;
	font-size: 		18px;
	font-weight: 	600;
}


input.big_input{
	color: 			#999999;
	border: 		none;
	margin-left:		40px;
	margin-right:		10px;
}
input.middle_input{
	color: 			#999999;
	border: 		none;
}
input.big_input:focus{
	border: solid 3px #99CCFF;  
}
input.middle_input:focus{
	border: solid 3px #99CCFF;  
}

div#content p, span{
	font-family: Arimo,Arial,sans-serif;
    text-align: justify;
	color: #333333;
	line-height: 1.7;
	font-size: 15px;
}

.text_header{
	color: #CCCCCC;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 4px;
}

div#footer{
	height: 10px; 
	width: 827px;
	text-align: center;
	text-shadow: 0px 1px white;
	font-weight: 600;
	color: #817A7A;
	font-size: 12px;	
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 120px;
	bottom:0; /* stick to bottom */
	clear: both;
}


div#footer a, a:active, a:visited, a:focus, a:link{
	text-decoration: 	none;
	color: 				#058dbe;
}
div#footer a:hover{
	text-decoration: 	underline;
}